<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div>
        <ion-menu-button><p routerLink="author">Author</p></ion-menu-button>
        <ion-menu-button
          ><p routerLink="tasks">Task manager</p></ion-menu-button
        >
        <ion-menu-button><p routerLink="counter">Counter</p></ion-menu-button>
      </div>
    </ion-content>
  </ion-menu>
  <div id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Exam U2</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
