<ion-content>
  <div class="main__container">
    <ion-button
      href="/author"
      class="form__button"
      fill="outline"
      color="danger"
      shape="round"
      >Author</ion-button
    >
    <ion-button
      href="/tasks"
      class="form__button"
      fill="outline"
      color="danger"
      shape="round"
      >My tasks</ion-button
    >
    <ion-button
      href="/counter"
      class="form__button"
      fill="outline"
      color="danger"
      shape="round"
      >Counter</ion-button
    >
  </div>
</ion-content>
